apiVersion: apps/v1
kind: Deployment
metadata:
  name: clusterip-demo
  namespace: ai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clusterip-demo
  template:
    metadata:
      labels:
        app: clusterip-demo
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: html
        configMap:
          name: web-content
